<section admin-header class="content-header"
         title="{{ 'Monitors' | translate }}"
         sub-title="{{ 'Manage your Monitors here!' | translate }}">
</section>
<section ui-view class="content"></section>
