<div class="panel panel-default">
  <div class="panel-heading">
    <a href="" ui-sref="^.list" class="btn btn-xs btn-default"><i class="fa fa-arrow-left"></i></a>
    {{ctrl.monitor.title}}
    <span class="pull-right btn-group">
      <a href="" class="btn btn-xs btn-default" ui-sref="^.edit({id: ctrl.monitor.id})">
        <i class="fa fa-pencil"></i>
      </a>
      <a href="" class="btn btn-xs btn-danger" ui-sref="^.delete({id: ctrl.monitor.id})">
        <i class="fa fa-trash-o"></i>
      </a>
    </span>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12">{{ctrl.monitor.content}}
        <div class="form-group">
          <lable>Name:</lable>
          {{ctrl.monitor.name}}
        </div>
        <div class="form-group">
          <lable>Surface water type:</lable>
          {{ctrl.monitor.type}}
        </div>
        <table class="table table-bordered table-hover table-results">
          <tbody><tr>
            <th>Measure</th>
            <th style="width: 30%">Value</th>
            <th style="width: 40%">Notes</th>
          </tr>
          <tr>
            <td>pH</td>
            <td>
              <div class="form-group">
               {{ctrl.monitor.ph}}
              </div>
            </td>
            <td>
              <div class="form-group">
               {{ctrl.monitor.data.phNote}}
              </div>
            </td>
          </tr>
          <tr>
            <td>DO</td>
            <td>
              <div class="form-group">
                {{ctrl.monitor.data.do}}
              </div>
            </td>
            <td>
              <div class="form-group">
                {{ctrl.monitor.data.doNote}}
              </div>
            </td>
          </tr>
          <tr>
            <td>NO2-</td>
            <td>
              <div class="form-group">
                {{ctrl.monitor.data.no2}}
              </div>
            </td>
            <td>
              <div class="form-group">
                {{ctrl.monitor.data.no2Note}}
              </div>
            </td>
          </tr>
          <tr>
            <td>PO4 3-</td>
            <td>
              <div class="form-group">
                {{ctrl.monitor.data.po4}}
              </div>
            </td>
            <td>
              <div class="form-group">
                {{ctrl.monitor.data.po4Note}}
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-12">
        <div class="col-md-3" ng-repeat="item in ctrl.monitor.url">
          <img ng-if="item" ng-src="{{item}}?id={{ctrl.monitor.id}}"/>
        </div>
      </div>
    </div>
  </div>
  <div class="panel-footer">
    <small>
      Created:
      {{ctrl.monitor.created | date:'medium'}}
      <span ng-if="ctrl.monitor.created !== ctrl.monitor.modified">
        &middot; modified:
        {{ctrl.monitor.modified | date:'medium'}}
      </span>
    </small>
  </div>
</div>
