/* 09. Mobile, Tablet                            */
/*===============================================*/


/*Responsive*/
@media (max-width:1430px) {
  .wed_agency .wed_fl_2 {
    top: 300px;
    left: 0%;
    transform:scale(0.4);
  }
  .wed_agency .wed_fl_14 {
    top: 300px;
    left: 0%;
    transform:scale(0.6);
  }
  .wed_agency .wed_fl_18 {
    right: 2%;
    transform:scale(0.4);
  }
  .wed_agency .wed_fl_7 {
    transform:scale(0.6);
  }

}

@media (max-width:1200px) {
  /*Story*/
  .wed_bd:hover .wed_second_border {
    top: 0;
    right: 13px;
  }
  .wed_bd:hover .wed_second_border_right {
    top: 0;
    left: 13px;
  }
  .wed_second_border,
  .wed_second_border_right {
    width: 93%;
  }
  /*Multipage*/
  .wed_img_1 {
    margin-left: -30px;
  }
  .wed_img_2 {
    margin-right: -30px;
  }
  .wed_agency .wed_fl_20 {
    right: 0%;
  }
  .wed_agency .wed_fl_5 {
    left: -3%;
  }
}
@media (max-width:1100px){
  .wed_simple_block {
    padding: 56px 45px 46px;
  }
  h2.wed_without_after {
    margin-top: 30px;
    margin-bottom: 50px;
  }
  /*Portfolio Poloroid*/
  .wed_portfolio_poloroid,
  .wed_portfolio_poloroid.wed_news_poloroid {
    margin:0px auto;
    position:relative;
    height:900px;
    width:600px;
    margin-bottom: 200px;
    margin-top: 80px;
  }
  .wed_agency .wed_fl_6 {
    transform:scale(0.7);
  }
  .wed_agency .wed_fl_8 {
    transform:scale(0.7);
  }
  /*Story*/
  img.wed_img_height {
    min-width: 400px;
  }
  /*Multipage*/
  .wed_name_left,
  .wed_name_right {
    display: none;
  }

}
@media (max-width:1024px){
  h3 {
    font: 400 42px/48px Bree Serif, Arial;
  }
  .wed_fixed,
  .tablet .wed_fixed {
    background-attachment:scroll!important;
  }
}

@media (max-width:1100px){
  .wed_iframe {
    width: 300px;
    height: 367px;
  }
  /*menu*/
  .wed_top_menu_cont div.menu > ul > li,
  .wed_top_menu_cont ul.menu > li {
    float: none;
    padding: 13px 0!important;
  }
  .wed_top_menu_cont div.menu > ul,
  .wed_top_menu_cont ul.menu {
    right: 19px;
    text-align: right;
  }
  .wed_top_menu_cont div.menu > ul ul,
  .wed_top_menu_cont div.menu > ul ul ul,
  .wed_top_menu_cont ul.menu ul,
  .wed_top_menu_cont ul.menu ul ul,
  .wed_top_menu_cont .sub-menu {
    position: relative;
    background: none;
    padding: 0;
    margin-top: 10px!important;
    margin-bottom: 10px!important;
  }
  .wed_first_step .wed_top_menu_cont a,
  .wed_first_step .page_item_has_children > a:after,
  .wed_first_step .menu-item-has-children > a:after {
    color: #fff!important;
  }
  .wed_top_menu_cont div.menu .page_item_has_children:hover ul,
  .wed_top_menu_cont ul.menu .menu-item-has-children:hover ul{
    display: none;
  }
  .menu-item-has-children,
  .page_item_has_children {
    padding: 13px 0;
  }
  .mobile .wed_iphone,
  .wed_top_menu,
  .menu,
  .wed_header_address,
  .wed_browsers,
  .wed_logo_und,
  .mobile.landscape .wed_slide_desq,
  .mobile.landscape .wed_scroll_down,
  .wed_first_step .wed_header_lang ul  {
    display: none;
  }

  .wed_section_outter,
  .wed_section_inner,
  .wed_section_innerpage {
    text-align: center;
  }
  .wed_icon_box i {
    position: relative;
  }
  .wed_icon_box_content {
    padding: 0;
  }
  .wed_icon_box h4:after,
  .text-left .wed_icon_box h4:after,
  .text-right .wed_icon_box h4:after {
    margin-left: auto;
    margin-right: auto;
  }
  .wed_header_lang {
    right: 15px;
  }
  .wed_slide_title {
    font:900 40px Lato, Arial;
    width: 100%;
    text-align: center;
  }
  .wed_slide_title:after {
    margin: 20px auto;
  }
  .wed_slide_desq {
    font:400 18px Lato, Arial;
    text-align: center;
  }
  .wed_slide_txt,
  .wed_slide_txt.wed_slide_center_middle,
  .wed_slide_txt.wed_slide_center_top,
  .wed_slide_txt.wed_slide_center_bottom {
    width: 100%;
    left: 0;
    top: 50%;
    transform:translateY(-50%);
    padding: 0 10px;
  }

  .mobile.landscape .wed_slide_txt {
    padding: 0 25px;
  }

  .wed_great_titles h2:after {
    margin: 20px auto;
  }
  h2:after {
    margin: 20px auto;
  }
  .wed_section_inner .container {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .wed_section_outter .container {
    padding-top: 26px;
    padding-bottom: 26px!important;
  }
  .wed_section_innerpage .container,
  .wed_section_innerpage .container-fluid {
    padding-top: 24px;
    padding-bottom: 12px;
  }
  .wed_row_padding {
    padding-bottom: 10px;
  }
  .text-left, .text-right {
    text-align: center;
  }

  header nav {
    height: 52px;
    background: rgba(255,255,255,0.7);
  }
  .wed_around_bl,
  .wed_around_bl:last-child,
  .wed_icon_box:last-child,
  .wed_icon_box {
    margin-bottom: 30px;
  }
  .text-center .wed_icon_box .wed_icon_box_content {
    padding-left: 0;
  }
  header nav.wed_transp_nav {
    background: none;
    height: 52px;
  }
  .wed_second_step .wed_top_menu li.current:before,
  .wed_second_step .menu li.current:before
  {
    top: 16%;
    left: 65px;
    background-image: url("http://wedding.verothemes.com/wp/wp-content/themes/weddingvero/css/../images/arrow_wht.png");
    width: 100px;
    height: 9px;
  }
  .wed_first_step header nav.wed_transp_nav {
    background: rgba(255,255,255,0.9);
  }
  .wed_logo,
  .tablet.portrait .wed_logo {
    top: 17px;
    z-index: 3;
  }

  .wed_header_tech {
    height: 26px;
    padding: 0;
  }
  .wed_first_step .wed_header_tech {
    height: 0;
  }
  .wed_header_lang .wed_parent ul,
  .wed_header_lang .current-menu-parent ul {
    padding: 1px 0 0 0;
  }
  .wed_portfolio_item,
  .container-fluid .wed_portfolio_item  {
    width: 100%;
  }
  .wed_port_titles {
    text-align: left;
  }
  .wed_slider_copyright {
    left: 10px;
    bottom: 20px;
  }
  .wed_top {
    width: 40px;
    height: 40px;
    right: 20px;
    bottom: 20px;
  }

  .wed_middle_titles h2 {
    font:900 64px hensa, Arial;
  }
  .wed_wht_txt .wed_small_arrow h2:after {
    margin-left: auto;
    margin-right: auto;
  }
  .wed_portfolio_footer_grey:after,
  .wed_portfolio_footer_white:after {
    display: none;
  }
  .wed_team_slider .owl-prev {
    left: 20px;
  }
  .wed_team_slider .owl-next {
    right: 20px;
  }
  .wed_auto_height .wed_image_bck[data-image] {
    min-height: 400px;
  }
  .wed_simple_block {
    padding: 56px 15px 46px;
  }
  .wed_simple_block h2:after,
  h2:after {
    margin-left: auto;
    margin-right: auto;
  }
  .wed_news_block {
    margin-bottom: 40px;
    text-align: center;
  }
  .wed_news_img {
    height: auto;
  }
  .form-control {
    margin-bottom: 10px;
  }
  form {
    margin-bottom: 20px;
  }
  .wed_icon_boxes {
    margin-top: 0;
  }
  .wed_icon_box:last-child, .wed_anim_box:last-child {
    margin-bottom: 0;
  }

  /*Inside Pages*/
  .breadcrumbs {
    text-align: center;
  }
  .wed_page_title_great {
    padding-top: 95px;
  }

  /*Mobile Top Menu*/
  .wed_top_menu,
  .menu
  {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding-top: 50px;
  }
  .wed_top_menu_cont:after {
    display: block;
    content: '';
    width: 100%;
    height: 52px;
    background: #000;
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
  }
  .wed_top_menu_cont {
    background: rgba(0,0,0,0.95);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    display: none;
    padding-top: 50px;
  }
  .wed_header_search_cont input {
    margin-bottom: 0;
  }
  .wed_header_search_cont form {
    margin-bottom: 0;
  }
  .wed_header_search_cont {
    width: 100%;
  }
  .wed_first_step .wed_transp_nav .wed_top_menu a:hover,
  .wed_first_step header nav.wed_transp_nav ul a {
    color: #fff;
  }


  /*Mobile Menu*/
  .wed_top_menu_mobile_link {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 18px;
    padding: 15px;
    display: none;
    cursor: pointer;
    z-index: 3;
  }

  .wed_top_menu_mobile_link,
  .active .wed_top_menu_mobile_link {
    display: block;
    right: 0;
  }
  .wed_header_search {
    display: none;
  }
  .wed_header_search span {
    padding: 15px;
    color: #fff;
    font-size: 18px;
  }

  header nav.active .wed_top_menu_mobile_link,
  header nav.active .wed_logo {
    color: #fff;
  }
  /*Portfolio*/
  .wed_port_title {
    font: 400 18px/24px Lato, Arial,sans-serif;
  }
  .wed_port_subtitle {
    font: 400 14px/22px Lato, Arial,sans-serif;
  }
  /*Text Align*/
  .mobile-text-left {
    text-align: left;
  }
  .mobile-text-right {
    text-align: right;
  }

  .wed_mobile_menu {
    display: none;
  }
  .wed_mobile_menu_hor_padding,
  .wed_mobile_menu_hor_padding.active,
  .wed_first_step header nav.wed_mobile_menu_hor_padding {
    top: 0;
    left: 0;
    right: 0;
    opacity: 1;
    pointer-events:auto;
  }
  .tablet .wed_auto_height .wed_slider_copyright {
    left: 20px;
  }
  .wed_auto_height .wed_slider_copyright {
    left: 20px;
  }
  .wed_slider_copyright.wed_slider_copyright_right,
  .wed_slider_copyright_right {
    left: auto;
    right: 20px;
  }
  .wed_slide_txt {
    text-align: center;
    bottom: auto;
    top: 50%;
    transform:translateY(-50%);
    left: 0;
  }
  .wed_team_slider_single .wed_news_block {
    width: 100%;
  }
  .reply {
    padding-left: 20px;
    text-align: left;
  }
  .add-to-box {
    text-align: center;
  }
  .add-to-cart {
    margin-right: auto;
    margin-left: auto;
  }
  /*Header Login Form*/
  .wed_header_login .btn {
    padding: 5px 15px;
  }
  .wed_header_login {
    padding: 12px 0;
    margin-right: 40px;
    position: relative;
    z-index: 3;
  }
  /*Story*/
  .wed_story_row {
    margin-bottom: 0;
  }
  .wed_second_border_right,
  .wed_second_border {
    height: 98%;
    width: 93%;
    border: 4px solid #e4d4fb;
    position: absolute;
    z-index: 1;
    top: -16px;
    left: 31px;
  }
  .wed_portfolio_item_cont.wed_story_cont {
    margin-bottom: 40px;

  }
  .text-center p {
    margin-bottom: 40px;
  }
  .wed_bd:hover .wed_second_border {
    top: 0;
    left: 13px;
    height: 91%;
  }
  .wed_bd:hover .wed_second_border_right {
    top: 0;
    left: 13px;
    height: 91%;
  }
  .countdown-section {
    padding: 40px 50px 20px 50px;
    width: 100%;
  }
  .wed_countdown .countdown-amount {
    font-size: 84px;
  }
  /*Header Couple*/
  .wed_couple_header.wed_white_couple {
    height: 30px;
    top: 8px;
    left: 19px;
  }
  .wed_first_step .wed_couple_header.wed_kissing_couple {
    top: 8px;
    height: 30px;
  }
  /*Multipage*/
  .wed_margtop {
    margin-top: 30px;
  }
  /*	.wed_couple {
          padding-bottom: 60px;
      }*/
  .wed_heart_img_1 {
    position: relative;
    height: 417px;
    width: 430px;
  }
  .wed_heart_img_2 {
    position: relative;
    height: 417px;
    width: 430px;
  }
  .wed_heart_img_1:before,
  .wed_heart_img_2:before {
    bottom: 0;
    height: 421px;
  }
  .wed_event_hours p {
    padding: 0;
  }
}

@media (max-width:992px){
  .wed_top_menu_cont div.menu > ul,
  .wed_top_menu_cont ul.menu {
    right: 41px;
    text-align: right;
  }
  .wed_page_title .breadcrumbs {
    right: 50%;
    transform: translateX(50%);
  }
  .wed_page_title h3 {
    margin-bottom: 40px;
  }
  /*09.2 Tablet*/
  .tablet.portrait .wed_logo_und {
    display: none;
  }

  .wed_wrapper_frame {
    margin-bottom: 0;
  }
  .wed_header_lang {
    right: 15px;
  }
  .tablet.portrait .wed_browsers {
    display: none;
  }

  .tablet .wed_great_titles h2 {
    font:900 56px Hensa, Arial;
  }

  .tablet.portrait .wed_second_step .wed_logo,
  .tablet.portrait .wed_logo {
    top: 17px;
  }
  .tablet.portrait header nav {
    height: 52px;
  }
  .tablet.portrait .form-control {
    margin-bottom: 10px;
  }
  .text-center .wed_iphone_pink,
  .text-center .wed_iphone_gold {
    height: 540px;
    width: 185px;
  }

  .wed_simple_block {
    padding: 26px 45px 46px;
    text-align: center;
  }
  .wed_mate_border:before {
    top: -269px;
  }
  /*Story*/
  .wed_story_txt {
    margin-top: 20px;
  }
  .wed_story_txt p {
    margin-bottom: 60px;
  }
  .wed_second_border_right,
  .wed_second_border {
    width: 96%;
  }
  .wed_story_row {
    padding: 14px 0;
  }
  img.wed_img_height {
    object-position: 0;
  }
  .wed_portfolio_slide_item img {
    height: 300px!important;
  }
  .wed_vid_bg .wed_wht_txt,
  .wed_wht_txt a,
  .wed_wht_txt a i,
  .wed_wht_txt .wed_icon_box h4 {
    color: #000;
  }
  .wed_vid_bg .wed_wht_txt h2:after {
    background-image: url("http://wedding.verothemes.com/wp/wp-content/themes/weddingvero/css/../images/arrows_bottom_400.png");
    width: 414px;
    height: 26px;
  }
  .wed_vid_bg h2.wed_without_after img.wed_small_img {
    display: none;
  }
  .wed_vid_bg .wed_slide_txt h4,
  .wed_vid_bg .wed_slide_txt h3{
    color: #fff;
  }
  /*Multipage*/
  .wed_img_1,
  .wed_img_2 {
    display: none;
  }
  /*Shop*/
  .wed_slider_txt_animation .owl-item.active .wed_shop_btn {
    margin-bottom: 40px;
  }
  .wed_slider_txt_animation .owl-item h3 {
    transform: translate3d(-40px,0,0);
  }
  /*Slider Txt*/
  .wed_slide_right {
    top: 50%;
  }
  .wed_slide_center_bottom img {
    height: 350px;
  }
  .wed_slide_left_bottom_txt_left,
  .wed_slide_right_bottom_txt_right {
    width: 100%;
    padding: 0 20px;
    top: 20%;
  }
  .wed_top_menu_mobile_link {
    padding: 15px 39px;
  }
  .wed_agency .wed_flowers {
    display: none;
  }

}

@media (max-width:850px){
  /*Inside Pages Journal*/
  .wed_post_journal_img img {
    max-height: 500px;
  }
  /*Scroll Down*/
  .wed_scroll_down {
    display: none;
  }

  /*Footer Border*/
  .wed_water_border:after {
    display: none;
  }
  .wed_portfolio_poloroid {
    margin: 0px auto;
    position:relative;
    height:900px;
    width:550px;
    margin-bottom: 170px;
    margin-top: 50px;
  }
  /*Story*/
  .wed_story_txt {
    margin-top: -10px;
  }
  .wed_story_txt p {
    margin-bottom: 30px;
  }
  .wed_second_border_right,
  .wed_second_border {
    display: none;
  }
  .wed_heart_img_1:before,
  .wed_heart_img_2:before {
    left: -5px;
  }
  .wed_slider_ornament {
    width: 90%;
  }
}
@media (max-height:850px){
  .wed_scroll_down {
    display: none;
  }
}
@media (max-width:782px){
  #wpadminbar {
    top: -46px;
  }

  /*Header Couple*/
  .wed_couple_header.wed_white_couple {
    left: 26px;
  }
  .wed_first_step .wed_couple_header.wed_kissing_couple {

  }
  img.wed_img_height {
    object-position: 0!important;
  }
  h2.wed_hensa_slider {
    font: 300 70px hensa, Arial;
  }
  .wed_flowers {
    display: none;
  }
  .wed_agency_full .wed_partners_agency .wed_icon_box, .wed_agency_full .wed_partners_agency .wed_anim_box {
    margin-right: -1px;
  }
  .wed_gradient_sl .wed_slider:after {
    display: none;
  }
  .wed_gradient_sl .wed_slider:before {
    display: none;
  }
  .wed_couple_header.wed_white_couple {
    left: 14px;
  }
}
@media (max-width:736px){
  /*menu*/
  .wed_top_menu_cont div.menu > ul {
    right: 41px;
    text-align: right;
  }
  .wed_top_menu_cont ul.menu {
    right: 41px;
    text-align: right;
  }
  .wed_hensa_slider_names {
    font-size: 115px;
    line-height: 175px;
  }
  .wed_hensa_slider_names strong, .wed_hensa_slider_names b {
    /*font: 300 40px/30px hensa, Arial;*/
    line-height: 76px;
  }
  .wed_hensa_slider_names p {
    margin-bottom: 0;
  }
  .wed_slide_txt h3 {
    margin-top: 0;
    /*font:400 24px/24px Bree Serif, Arial;*/
  }
  h2:after {
    width: 192px!important;
    height: 12px!important;
    -webkit-background-size: cover!important;
    background-size: cover!important;
    margin: 20px auto!important;
  }

}
@media (max-width:650px){

  .wed_agency h3 {
    font: 400 22px/20px Bree Serif, Arial;
  }
  .wed_slide_txt.wed_slide_right_middle img {
    height: 250px;
  }
  .wed_great_titles h2 {
    font:900 64px hensa, Arial;
    text-align: center;
  }
  .wed_great_titles h2:after {
    background-image: url("http://wedding.verothemes.com/wp/wp-content/themes/weddingvero/css/../images/arrows_bottom_250.png");
    width: 250px;
    height: 17px;
  }
  h2:after {
    background-image: url("http://wedding.verothemes.com/wp/wp-content/themes/weddingvero/css/../images/arrows_bottom_250.png");
    width: 250px;
    height: 17px;
  }
  .wed_wht_txt h2:after {
    background-image: url("http://wedding.verothemes.com/wp/wp-content/themes/weddingvero/css/../images/arrows_wht_bottom_250.png");
    width: 250px;
    height: 16px;
  }
  .wed_vid_bg .wed_wht_txt h2:after {
    background-image: url("http://wedding.verothemes.com/wp/wp-content/themes/weddingvero/css/../images/arrows_bottom_250.png");
    width: 250px;
    height: 16px;
  }
  /*Poloroid Portfolio*/
  .wed_portfolio_poloroid {
    margin:0px auto;
    position:relative;
    height:600px;
    width:400px;
    margin-bottom: 150px;
    margin-top: 50px;
  }

  .wed_portfolio_poloroid .wed_portfolio_item_poloroid:nth-child(1n){
    -webkit-transform:rotate(30deg) scale(0.7,0.7);
    -moz-transform:rotate(30deg) scale(0.7,0.7);
    transform:rotate(30deg) scale(0.7,0.7);
    top:0%;
    left:-6%;
  }
  .wed_portfolio_poloroid .wed_portfolio_item_poloroid:nth-child(2n) {
    -webkit-transform:rotate(-30deg) scale(0.7,0.7);
    -moz-transform:rotate(-30deg) scale(0.7,0.7);
    transform:rotate(-30deg) scale(0.7,0.7);
    top:37%;
    left:33%;
  }
  .wed_portfolio_poloroid .wed_portfolio_item_poloroid:nth-child(3n) {
    -webkit-transform:rotate(40deg) scale(0.7,0.7);
    -moz-transform:rotate(40deg) scale(0.7,0.7);
    transform:rotate(40deg) scale(0.7,0.7);
    top:50%;
    left:-10%;
  }
  .wed_portfolio_poloroid .wed_portfolio_item_poloroid:nth-child(4n) {
    -webkit-transform:rotate(-30deg) scale(0.7,0.7);
    -moz-transform:rotate(-30deg) scale(0.7,0.7);
    transform:rotate(-30deg) scale(0.7,0.7);
    top:0%;
    left:-10%;
  }
  .wed_portfolio_poloroid .wed_portfolio_item_poloroid:nth-child(5n) {
    -webkit-transform:rotate(-20deg) scale(0.8,0.8);
    -moz-transform:rotate(-20deg) scale(0.8,0.8);
    transform:rotate(-20deg) scale(0.8,0.8);
    top:50%;
    left:12%;
    z-index:3;
  }
  .wed_portfolio_poloroid .wed_portfolio_item_poloroid:nth-child(6n) {
    -webkit-transform:rotate(30deg) scale(0.7,0.7);
    -moz-transform:rotate(30deg) scale(0.7,0.7);
    transform:rotate(30deg) scale(0.7,0.7);
    top:70%;
    left:40%;
  }
  .wed_portfolio_poloroid .wed_portfolio_item_poloroid:nth-child(7n) {
    -webkit-transform:rotate(10deg) scale(0.7,0.7);
    -moz-transform:rotate(10deg) scale(0.7,0.7);
    transform:rotate(10deg) scale(0.7,0.7);
    top:0%;
    left:15%;
  }
  /*Gift Registry*/
  .wed_gifts_img img {
    /*width: 80%;*/
    transition: all .6s;
  }
  /*Dandelions*/
  #leafContainer .leafActive1 {
    display: none;
  }

  /*Happy Couple*/
  .wed_heart_img_1:hover:after,
  .wed_heart_img_2:hover:after {
    opacity: 0;
  }
  h2.wed_agency_hensa_slider {
    font-size: 90px;
  }
  .wed_slide_txt img {
    height: 200px;
  }
}
@media (max-width:568px){
  /*Text*/
  h1.wed_h1_title {
    font: 900 54px hensa, Arial;
  }

  .wed_slide_center_bottom img{
    height: 300px;
  }
  /*Happy Couple Frame*/
  .wed_heart_img_1,
  .wed_heart_img_2 {
    position: relative;
    height: 418px;
    width: auto;
  }
  .wed_heart_img_1:before,
  .wed_heart_img_2:before {
    display: none;
  }
  h2.wed_hensa_slider {
    font: 300 60px hensa, Arial;
  }
  .breadcrumbs {
    margin: 0!important;
  }
}

@media (max-width:480px){
  .wed_top_menu_cont ul.menu {
    right: 22px;
  }
  .filter-button-group a:after {
    display: none;
  }
  .wed_iphone {
    display: none;
  }
  .wed_top_menu > li > a,
  .menu > li > a{
    padding: 13px 16px;
  }

  .wed_mate_border:before {
    top: -235px;
    height: 282px;
  }
  .wed_portfolio_item_cont.wed_story_cont {
    margin-bottom: 40px;
  }
  .wed_portfolio_poloroid {
    margin:0px auto;
    position:relative;
    height:600px;
    width:300px;
    margin-bottom: 50px;
    left: 10px;
  }


  .wed_portfolio_poloroid .wed_portfolio_item_poloroid:nth-child(1n){
    -webkit-transform:rotate(30deg) scale(0.7,0.7);
    -moz-transform:rotate(30deg) scale(0.7,0.7);
    transform:rotate(30deg) scale(0.7,0.7);
    top:0%;
    left:-6%;
  }
  .wed_portfolio_poloroid .wed_portfolio_item_poloroid:nth-child(2n) {
    -webkit-transform:rotate(-30deg) scale(0.7,0.7);
    -moz-transform:rotate(-30deg) scale(0.7,0.7);
    transform:rotate(-30deg) scale(0.7,0.7);
    top:32%;
    left:16%;
  }
  .wed_portfolio_poloroid .wed_portfolio_item_poloroid:nth-child(3n) {
    -webkit-transform:rotate(40deg) scale(0.7,0.7);
    -moz-transform:rotate(40deg) scale(0.7,0.7);
    transform:rotate(40deg) scale(0.7,0.7);
    top:50%;
    left:-10%;
  }
  .wed_portfolio_poloroid .wed_portfolio_item_poloroid:nth-child(4n) {
    -webkit-transform:rotate(-30deg) scale(0.7,0.7);
    -moz-transform:rotate(-30deg) scale(0.7,0.7);
    transform:rotate(-30deg) scale(0.7,0.7);
    top:0%;
    left:-10%;
  }
  .wed_portfolio_poloroid .wed_portfolio_item_poloroid:nth-child(5n) {
    -webkit-transform:rotate(-20deg) scale(0.8,0.8);
    -moz-transform:rotate(-20deg) scale(0.8,0.8);
    transform:rotate(-20deg) scale(0.8,0.8);
    top:50%;
    left:12%;
    z-index:3;
  }
  .wed_portfolio_poloroid .wed_portfolio_item_poloroid:nth-child(6n) {
    -webkit-transform:rotate(30deg) scale(0.7,0.7);
    -moz-transform:rotate(30deg) scale(0.7,0.7);
    transform:rotate(30deg) scale(0.7,0.7);
    top:67%;
    left:19%;
  }
  .wed_portfolio_poloroid .wed_portfolio_item_poloroid:nth-child(7n) {
    -webkit-transform:rotate(10deg) scale(0.7,0.7);
    -moz-transform:rotate(10deg) scale(0.7,0.7);
    transform:rotate(10deg) scale(0.7,0.7);
    top:0%;
    left:15%;
  }
  /*Inside Pages Journal*/
  .wed_post_journal_img img {
    max-height: 300px;
  }
  h2.wed_hensa_slider {
    font: 300 50px hensa, Arial;
  }
  .wed_red .wed_heart_img_1:hover:after,
  .wed_red .wed_heart_img_2:hover:after {
    opacity: 0;
  }
  .wed_blue .wed_heart_img_1:hover:after,
  .wed_blue .wed_heart_img_2:hover:after {
    opacity: 0;
  }
  h2.wed_agency_hensa_slider {
    font-size: 60px;
  }
}


@media (max-width:425px) {
  h2.wed_without_after {
    font-size: 46px;
  }

  .wed_thin_titles h2 {
    font-size: 46px;
  }
  .wed_slide_left_bottom_txt_left,
  .wed_slide_right_bottom_txt_right {
    width: 100%;
    padding: 0 20px;
    top: 14%;
  }
  .wed_agency .wed_slider_txt_animation  p {
    font-size: 12px;
    margin-bottom: 10px;
    line-height: 15px;
  }
  .wed_agency .wed_slider_txt_animation  h3 {
    margin-bottom: 0;
    font: 400 20px/18px Bree Serif, Arial;
  }
}
@media (max-width:405px){

  img.wed_img_height {
    min-width: 0;
  }
  .wed_portfolio_item_cont.wed_story_cont {
    height: 300px;
  }

  h3 {
    font-size: 36px;
  }
  .wed_slide_txt.wed_slide_right img {
    height: 350px;
  }
  /*Portfolio Poloroid*/
  .wed_portfolio_poloroid {
    margin:0px auto;
    position:relative;
    height:600px;
    width:260px;
    left: 10px;
  }
  h2.wed_hensa_slider {
    font: 300 40px hensa, Arial;
  }
  .wed_flowers {
    display: none;
  }
  h3 {
    font: 400 26px/10px Bree Serif, Arial;
  }
  .breadcrumbs {
    margin: -15px 0!important;
  }
}
@media (max-width: 332px){
  /*Inside Pages Journal*/
  .wed_post_journal_img img {
    max-height: 200px;
  }
  /*Inside Pages Location*/
  .wed_pad_txt {
    padding: 10px 40px 0 40px;
  }
  .wed_agency p{
    margin-bottom: 17px;
    font-size: 16px;
  }
}
@media (min-width: 650px){
  #leafContainer .leafActive2 {
    display: none;
  }
}
