<!-- Background Fixed -->
<div class="wed_fixed_bcg">
  <div class="wed_slider_fixed">
    <div class="wed_slider_carousel owl-carousel owl-theme" style="opacity: 1; display: block;">
      <!-- Item -->
      <div class="owl-item" style="width: 100vw;">
        <div class="wed_slider_img wed_image_bck wed_wht_txt" style="background-image: url('/images/bg/background.jpg');">
          <!-- Over -->
          <div class="wed_over" style="opacity: 0.5; background-color: rgb(15, 15, 15);">
          </div>
        </div>
      </div>
      <!-- Item End -->
    </div>
  </div>
</div>
<!-- Background Fixed End -->
