
<!-- Content -->
<section id="wed_content" class="wed_content">
  <div class="fw-page-builder-content">
    <!-- Grunge Borders -->
    <div class="wed_white_outter_border">
      <!-- section -->
      <section class="wed_section_inner wed_image_bck    ">
        <div class="container ">
          <div class="fw-row">
            <div class="fw-col-xs-12   wed_image_bck   wed_col">
              <div class="  ">
                <div class="wed_couple clearfix">
                  <!-- Item -->
                  <div class="wed_wrapper">
                    <div class="wed_img_1 wed_purple skrollable wed_image_bck skrollable-left" style="left: 20%; background-image: url('/images/av/av1.jpg');" >
                      <!--<h6 class="wed_name_left">Mark<br><span>Holts</span></h6>-->
                    </div>
                  </div>
                  <!-- Item -->
                  <div class="wed_wrapper">
                    <div class="wed_img_2 wed_purple skrollable wed_image_bck skrollable-right" style="right: 20%; background-image: url('/images/av/av2.jpg');">
                      <!--<h6 class="wed_name_right">Sally<br><span>Craft</span></h6>-->
                    </div>
                  </div>
                  <!-- Couple Text -->
                  <div class="married_txt skrollable skrollable-content text-center" style="opacity: 0;">
                    <h3>...</h3>
                    <p>Đôi khi trong cuộc sống, con người ta chọn cách sống vội vàng, bon chen<br> họ dần đánh mất đi chính mình. <br>
                      Tôi không chắc bản thân có thể thay đổi điều gì đó ở em, nhưng tôi hi vọng,<br> món quà giản dị này, sẽ giúp em níu kéo lại những khoảng khắc <br>
                      đẹp đẽ nhất của tuổi thanh xuân<br>
                    </p>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- container end -->
      </section>
      <!-- section end -->
    </div>
    <!-- Grunge Borders End-->
    <!-- section -->
    <section class="wed_section_inner wed_image_bck wed_wht_txt   ">
      <div class="container ">
        <div class="fw-row">
          <div class="fw-col-xs-12   wed_image_bck   wed_col">
            <div class="  ">
              <div class="text-center">
                <div class="wed_topstory_titile wed_great_titles">
                  <h2 class="wed_without_after" style="margin-bottom: 20px">
                    Kỷ<span class="wed_story_title_img"></span>niệm</h2>
                </div>
              </div>
              <!-- animation -->
              <div class="  wed_section_inner_animal_1">
                <!-- item-->
                <div class="row wed_story_row">
                  <div class="col-sm-12 col-md-5 text-center wed_bd " style="transition-delay: 0s;">
                    <div class="wed_second_border wed_image_bck" data-border="#c09bf6" style="border-color: rgb(192, 155, 246);"></div>
                    <div class="wed_portfolio_item wed_story_img">
                      <div class="wed_portfolio_item_cont wed_story_cont wed_image_bck" data-border="#c09bf6" style="border-color: rgb(192, 155, 246); transition-delay: 0.1s;">
                        <!--PHOTO-->
                        <img class="wed_img_height" src="/images/story/couple1.jpg" alt="">
                        <!--ICON LINK-->
                        <span class="wed_port_titles">
                        <span class="wed_port_title">Mùa hè năm ấy</span>
                        <span class="wed_port_subtitle">Năm 2014</span>
                        <span class="wed_port_icons">
                            <a href="/images/story/couple1.jpg" class="lightbox"><i class="fa fa-search"></i></a>
                        </span>
                      </span>
                        <!--END of ICON LINK-->
                      </div>
                    </div>
                  </div>
                  <div class="col-md-2 hidden-sm hidden-xs text-center">
                    <div class="wed_story_center">
                      <div class="wed_story_content wed_image_bck" data-color="#c09bf6" style="background-color: rgb(192, 155, 246);">
                        <div class="wed_heart_container">
                          <img class="wed_heart_1" src="/images/heart_3.png" alt="">
                          <img class="wed_heart_2" src="/images/heart_2.png" alt="">
                        </div>
                        <div class="wed_story_small_img">
                          <img src="/images/couple_1.png" alt="">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-5 ">
                    <div class="wed_story_txt" style="transition-delay: 0.2s;">
                      <div class="wed_month_year">10.08.2014</div>
                      <h3>Mùa hè năm ấy</h3><h5>That day changed everything</h5>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ultrices malesuada ante quis pharetra. Nullam notn bibendum dolor. Ut vel turpis accumsan, efficitur dolor fermentum, tincidunt metus. Etiam ut ultrices nibh. Etiam aliquam mauris non hendrerit faucibus. Proin pulvinar congue ex, vitae commodo. Phasellus condimentum, mi ut sodales gravida.Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    </div>
                  </div>
                  <div class="wed_vertical_line wed_line_top hidden-sm hidden-xs wed_image_bck" data-border="#c09bf6" style="border-color: rgb(192, 155, 246);">
                    <div class="wed_circle wed_image_bck" data-color="#c09bf6" style="background-color: rgb(192, 155, 246);"></div>
                  </div>
                </div>
                <!-- END of STORY ROW-1 -->
              </div>
              <!-- Animation End -->
              <!-- animation -->
              <div  class="  wed_section_inner_animal_2">
                <!-- item-->
                <div class="row wed_story_row">
                  <div class="col-sm-12 col-md-5 text-center wed_bd col-md-push-7" style="transition-delay: 0s;">
                    <div class="wed_second_border wed_image_bck" data-border="#c09bf6" style="border-color: rgb(192, 155, 246);"></div>
                    <div class="wed_portfolio_item wed_story_img">
                      <div class="wed_portfolio_item_cont wed_story_cont wed_image_bck" data-border="#c09bf6" style="border-color: rgb(192, 155, 246); transition-delay: 0.1s;">
                        <!--PHOTO-->
                        <img class="wed_img_height" src="/images/story/couple2.jpg" alt="">
                        <!--ICON LINK-->
                        <span class="wed_port_titles">
                        <span class="wed_port_title">Thảo nguyên cỏ vàng</span>
                        <span class="wed_port_subtitle">Centennial Park</span>
                        <span class="wed_port_icons">
                            <a href="/images/story/couple2.jpg" class="lightbox"><i class="fa fa-search"></i></a>
                        </span>
                      </span>
                        <!--END of ICON LINK-->
                      </div>
                    </div>
                  </div>
                  <div class="col-md-2 hidden-sm hidden-xs text-center">
                    <div class="wed_story_center">
                      <div class="wed_story_content wed_image_bck" data-color="#c09bf6" style="background-color: rgb(192, 155, 246);">
                        <div class="wed_heart_container_row_2">
                          <img class="wed_second_heart_1" src="/images/heart_3.png" alt="">
                          <img class="wed_second_heart_2" src="/images/heart_1.png" alt="">
                          <img class="wed_second_heart_3" src="/images/heart_2.png" alt="">
                        </div>
                        <div class="wed_story_small_img">
                          <img src="/images/couple_2_wht.png" alt="">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-5 col-md-pull-7">
                    <div class="wed_story_txt" style="transition-delay: 0.2s;">
                      <div class="wed_month_year">03.10.2015</div>
                      <h3>Thảo nguyên cỏ vàng</h3><h5>That was so wonderful</h5><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ultrices malesuada ante quis pharetra. Nullam notn bibendum dolor. Ut vel turpis accumsan, efficitur dolor fermentum, tincidunt metus. Etiam ut ultrices nibh. Etiam aliquam mauris non hendrerit faucibus. Proin pulvinar congue ex, vitae commodo. Phasellus condimentum, mi ut sodales gravida.Lorem ipsum dolor sit amet, consectetur adipisicing</p>                </div>
                  </div>
                  <div class="wed_vertical_line wed_line_top hidden-sm hidden-xs wed_image_bck" data-border="#c09bf6" style="border-color: rgb(192, 155, 246);">
                    <div class="wed_circle wed_image_bck" data-color="#c09bf6" style="background-color: rgb(192, 155, 246);"></div>
                  </div>
                </div>
                <!-- END of STORY ROW-1 -->
              </div>
              <!-- Animation End -->
              <!-- animation -->
              <div class="  wed_section_inner_animal_3">
                <!-- item-->
                <div class="row wed_story_row">

                  <div class="col-sm-12 col-md-5 text-center wed_bd " style="transition-delay: 0s;">
                    <div class="wed_second_border wed_image_bck" data-border="#c09bf6" style="border-color: rgb(192, 155, 246);"></div>
                    <div class="wed_portfolio_item wed_story_img">
                      <div class="wed_portfolio_item_cont wed_story_cont wed_image_bck" data-border="#c09bf6" style="border-color: rgb(192, 155, 246); transition-delay: 0.1s;">
                        <!--PHOTO-->
                        <img class="wed_img_height" src="/images/story/thuctap.jpeg" alt="">
                        <!--ICON LINK-->
                        <span class="wed_port_titles">
                        <span class="wed_port_title">Thảo nguyên cỏ vàng</span>
                        <span class="wed_port_subtitle">France 2016</span>
                        <span class="wed_port_icons">
                            <a href="/images/story/thuctap.jpeg" class="lightbox"><i class="fa fa-search"></i></a>
                        </span>
                      </span>
                        <!--END of ICON LINK-->
                      </div>
                    </div>
                  </div>
                  <div class="col-md-2 hidden-sm hidden-xs text-center">
                    <div class="wed_story_center">
                      <div class="wed_story_content wed_image_bck" data-color="#c09bf6" style="background-color: rgb(192, 155, 246);">
                        <div class="wed_heart_container_row_3">
                          <img class="wed_third_heart_1" src="/images/heart_third_step_3.png" alt="">
                        </div>
                        <div class="wed_story_small_img">
                          <img src="/images/small_couple_third_wht.png" alt="">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-5 ">
                    <div class="wed_story_txt" style="transition-delay: 0.2s;">
                      <div class="wed_month_year">3.2016</div>
                      <h3>Sinh viên thực tập</h3><h5>That day changed everything</h5><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ultrices malesuada ante quis pharetra. Nullam notn bibendum dolor. Ut vel turpis accumsan, efficitur dolor fermentum, tincidunt metus. Etiam ut ultrices nibh. Etiam aliquam mauris non hendrerit faucibus. Proin pulvinar congue ex, vitae commodo. Phasellus condimentum, mi ut sodales gravida.Lorem ipsum dolor sit amet, consectetur adipisicing</p>                </div>
                  </div>
                  <div class="wed_vertical_line wed_line_top hidden-sm hidden-xs wed_image_bck" data-border="#c09bf6" style="border-color: rgb(192, 155, 246);">
                    <div class="wed_circle wed_image_bck" data-color="#c09bf6" style="background-color: rgb(192, 155, 246);"></div>
                  </div>
                </div>
                <!-- END of STORY ROW-1 -->
              </div>
              <!-- Animation End -->
              <!-- animation -->
              <div class="  wed_section_inner_animal_4">
                <!-- item-->
                <div class="row wed_story_row">
                  <div class="col-sm-12 col-md-5 text-center wed_bd col-md-push-7" style="transition-delay: 0s;">
                    <div class="wed_second_border wed_image_bck" data-border="#c09bf6" style="border-color: rgb(192, 155, 246);"></div>
                    <div class="wed_portfolio_item wed_story_img">
                      <div class="wed_portfolio_item_cont wed_story_cont wed_image_bck" data-border="#c09bf6" style="border-color: rgb(192, 155, 246); transition-delay: 0.1s;">
                        <!--PHOTO-->
                        <img class="wed_img_height" src="/images/story/khelim.jpg" alt="">
                        <!--ICON LINK-->
                        <span class="wed_port_titles">
                        <span class="wed_port_title">Khám phá Khe Lim huyền bí </span>
                        <span class="wed_port_subtitle">Paris</span>
                        <span class="wed_port_icons">
                            <a href="/images/story/khelim.jpg" class="lightbox"><i class="fa fa-search"></i></a>
                        </span>
                      </span>
                        <!--END of ICON LINK-->
                      </div>
                    </div>
                  </div>
                  <div class="col-md-2 hidden-sm hidden-xs text-center">
                    <div class="wed_story_center">
                      <div class="wed_story_content wed_image_bck" data-color="#c09bf6" style="background-color: rgb(192, 155, 246);">
                        <div class="wed_heart_container_row_4">
                          <img class="wed_fourth_heart_1" src="/images/heart_1.png" alt="">
                          <img class="wed_fourth_heart_2" src="/images/heart_2.png" alt="">
                          <img class="wed_fourth_heart_3" src="/images/heart_3.png" alt="">
                        </div>
                        <div class="wed_story_small_img">
                          <img src="/images/small_couple_wht.png" alt="">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-5 col-md-pull-7">
                    <div class="wed_story_txt" style="transition-delay: 0.2s;">
                      <div class="wed_month_year">1.5.2016</div>
                      <h3>Khám phá Khe Lim huyền bí</h3><h5>We're waiting for the best</h5><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ultrices malesuada ante quis pharetra. Nullam notn bibendum dolor. Ut vel turpis accumsan, efficitur dolor fermentum, tincidunt metus. Etiam ut ultrices nibh. Etiam aliquam mauris non hendrerit faucibus. Proin pulvinar congue ex, vitae commodo. Phasellus condimentum, mi ut sodales gravida.Phasellus condimentum, mi ut sodales gravida lorem</p>                </div>
                  </div>
                  <div class="wed_vertical_line wed_line_top hidden-sm hidden-xs wed_image_bck" data-border="#c09bf6" style="border-color: rgb(192, 155, 246);">
                    <div class="wed_circle wed_image_bck" data-color="#c09bf6" style="background-color: rgb(192, 155, 246);"></div>
                  </div>
                </div>
                <!-- END of STORY ROW-1 -->
              </div>
              <!-- Animation End -->
              <!-- animation -->
              <div class="  wed_section_inner_animal_5">
                <!-- item-->
                <div class="row wed_story_row">

                  <div class="col-sm-12 col-md-5 text-center wed_bd " style="transition-delay: 0s;">
                    <div class="wed_second_border wed_image_bck" data-border="#c09bf6" style="border-color: rgb(192, 155, 246);"></div>
                    <div class="wed_portfolio_item wed_story_img">
                      <div class="wed_portfolio_item_cont wed_story_cont wed_image_bck" data-border="#c09bf6" style="border-color: rgb(192, 155, 246); transition-delay: 0.1s;">
                        <!--PHOTO-->
                        <img class="wed_img_height" src="/images/story/totnghiep.jpg" alt="">
                        <!--ICON LINK-->
                        <span class="wed_port_titles">
                        <span class="wed_port_title">Tốt nghiệp đại học Kỹ thuật - Y dược Đà Nẵng</span>
                        <span class="wed_port_subtitle">19.08.2016</span>
                        <span class="wed_port_icons">
                            <a href="/images/story/totnghiep.jpg" class="lightbox"><i class="fa fa-search"></i></a>
                        </span>
                      </span>
                        <!--END of ICON LINK-->
                      </div>
                    </div>
                  </div>
                  <div class="col-md-2 hidden-sm hidden-xs text-center">
                    <div class="wed_story_center">
                      <div class="wed_story_content wed_image_bck" data-color="#c09bf6" style="background-color: rgb(192, 155, 246);">
                        <div class="wed_heart_container_row_3">
                          <img class="wed_third_heart_1" src="/images/heart_third_step_3.png" alt="">
                        </div>
                        <div class="wed_story_small_img">
                          <img src="/images/small_couple_third_wht.png" alt="">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-5 ">
                    <div class="wed_story_txt" style="transition-delay: 0.2s;">
                      <div class="wed_month_year">19.08.2016</div>
                      <h3>Tốt nghiệp đại học Kỹ thuật - Y dược Đà Nẵng</h3><h5>That day changed everything</h5><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ultrices malesuada ante quis pharetra. Nullam notn bibendum dolor. Ut vel turpis accumsan, efficitur dolor fermentum, tincidunt metus. Etiam ut ultrices nibh. Etiam aliquam mauris non hendrerit faucibus. Proin pulvinar congue ex, vitae commodo. Phasellus condimentum, mi ut sodales gravida.Lorem ipsum dolor sit amet, consectetur adipisicing</p>                </div>
                  </div>
                  <div class="wed_vertical_line wed_line_top hidden-sm hidden-xs wed_image_bck" data-border="#c09bf6" style="border-color: rgb(192, 155, 246);">
                    <div class="wed_circle wed_image_bck" data-color="#c09bf6" style="background-color: rgb(192, 155, 246);"></div>
                  </div>
                </div>
                <!-- END of STORY ROW-1 -->
              </div>
              <!-- Animation End -->
              <!-- animation -->
              <div class="  wed_section_inner_animal_6">
                <!-- item-->
                <div class="row wed_story_row">
                  <div class="col-sm-12 col-md-5 text-center wed_bd col-md-push-7" style="transition-delay: 0s;">
                    <div class="wed_second_border wed_image_bck" data-border="#c09bf6" style="border-color: rgb(192, 155, 246);"></div>
                    <div class="wed_portfolio_item wed_story_img">
                      <div class="wed_portfolio_item_cont wed_story_cont wed_image_bck" data-border="#c09bf6" style="border-color: rgb(192, 155, 246); transition-delay: 0.1s;">
                        <!--PHOTO-->
                        <img class="wed_img_height" src="/images/story/bachma.jpg" alt="">
                        <!--ICON LINK-->
                        <span class="wed_port_titles">
                        <span class="wed_port_title">Bạch Mã phiêu lưu ký</span>
                        <span class="wed_port_subtitle">30.07.2016</span>
                        <span class="wed_port_icons">
                            <a href="/images/story/bachma.jpg" class="lightbox"><i class="fa fa-search"></i></a>
                        </span>
                      </span>
                        <!--END of ICON LINK-->
                      </div>
                    </div>
                  </div>
                  <div class="col-md-2 hidden-sm hidden-xs text-center">
                    <div class="wed_story_center">
                      <div class="wed_story_content wed_image_bck" data-color="#c09bf6" style="background-color: rgb(192, 155, 246);">
                        <div class="wed_heart_container_row_4">
                          <img class="wed_fourth_heart_1" src="/images/heart_1.png" alt="">
                          <img class="wed_fourth_heart_2" src="/images/heart_2.png" alt="">
                          <img class="wed_fourth_heart_3" src="/images/heart_3.png" alt="">
                        </div>
                        <div class="wed_story_small_img">
                          <img src="/images/small_couple_wht.png" alt="">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-5 col-md-pull-7">
                    <div class="wed_story_txt" style="transition-delay: 0.2s;">
                      <div class="wed_month_year">30.07.2016</div>
                      <h3>Bạch Mã phiêu lưu ký</h3><h5>We're waiting for the best</h5><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ultrices malesuada ante quis pharetra. Nullam notn bibendum dolor. Ut vel turpis accumsan, efficitur dolor fermentum, tincidunt metus. Etiam ut ultrices nibh. Etiam aliquam mauris non hendrerit faucibus. Proin pulvinar congue ex, vitae commodo. Phasellus condimentum, mi ut sodales gravida.Phasellus condimentum, mi ut sodales gravida lorem</p>                </div>
                  </div>
                  <div class="wed_vertical_line wed_line_top hidden-sm hidden-xs wed_image_bck" data-border="#c09bf6" style="border-color: rgb(192, 155, 246);">
                    <div class="wed_circle wed_image_bck" data-color="#c09bf6" style="background-color: rgb(192, 155, 246);"></div>
                  </div>
                </div>
                <!-- END of STORY ROW-1 -->
              </div>
              <!-- Animation End -->
            </div>
          </div>
        </div>
      </div>
      <!-- container end -->
    </section>
    <!-- section end -->
    <!-- Grunge Borders -->
    <div class="wed_white_outter_border">
      <!-- section -->
      <section class="wed_section_inner wed_image_bck  wed_fixed  wed_section_sml_padding" data-stellar-background-ratio="0.2" style="background-attachment: fixed; background-position: 0% 723.6px;">
        <div class="container text-center">
          <!-- Title -->
          <h2 class="wed_section_title">Cảm giác và Hoài niệm</h2>
          <div class="fw-row">
            <div class="fw-col-xs-12   wed_image_bck   wed_col">
              <div class="  ">
                <div class="text_block">
                  <p>Cuộc đời vốn không giản dị như cách người này tặng người kia một viên kẹo đường, rồi mỉm cười tin rằng bây giờ và vĩnh viễn về sau trên môi luôn ngọt ngào đến thế.<br>
                    <b>Về những người đi qua cuộc đời…</b><br>
                    Tôi đã đi qua nhiều người, và nhiều người cũng đã đi qua tôi. Cái chúng tôi trao nhau có những khi nhiều hơn một ánh mắt, dài hơn một con đường, hân hoan hơn cô dâu trong một lễ cưới và đau đớn hơn cả người bộ hành ảo tưởng về một dòng sông.<br>
                    <b>Có những người ở lại,</b><br> và những người ra đi, có những người lại chỉ ngang qua như gió thoảng… Cái sự đến và đi, đôi khi ngỡ ngàng hơn chúng ta thường nghĩ. Cuộc đời con người vốn có nhiều cái giật mình, và một trong số đó là cái giật mình thảng thốt khi ta đánh rơi những cái vốn tin rằng sẽ mãi mãi bên cạnh. Người đời thường nói, chỉ đến khi mất đi, ta mới biết rằng mình đã có. Có lẽ vì vậy nên có những người đã được sắp xếp đến bên cuộc đời, chỉ để ta biết rằng cái giá của nuối tiếc chỉ được đánh cược trong một giây ta hờ hững.</p>

                </div>    </div>
            </div>
          </div>
          <div class="fw-row">
            <div class="fw-col-xs-12   wed_image_bck   wed_col">
              <div class="  ">
                <!-- boxes -->
                <div class="wed_icon_boxes row text-center">
                  <div class="col-md-8 col-md-offset-2">
                    <div class="row">
                      <!-- item -->
                      <div class="col-md-3 col-sm-3">
                        <a href="http://bed.com/" class="wed_news_block" target="_blank">
            <span class="wed_gifts_img">
               <img class="wed_image_bck" src="/images/av/av4.jpg" style="border-color: rgb(192, 155, 246);">
            </span>
                        </a>
                      </div>
                      <!-- item -->
                      <div class="col-md-3 col-sm-3">
                        <a href="http://belk.com/" class="wed_news_block" target="_blank">
            <span class="wed_gifts_img">
               <img class="wed_image_bck" src="/images/av/av5.png" style="border-color: rgb(192, 155, 246);">
            </span>
                        </a>
                      </div>
                      <!-- item -->
                      <div class="col-md-3 col-sm-3">
                        <a href="http://macy.com/" class="wed_news_block" target="_blank">
            <span class="wed_gifts_img">
               <img class="wed_image_bck" src="/images/av/av6.jpg" style="border-color: rgb(192, 155, 246);">
            </span>
                        </a>
                      </div>

                      <div class="col-md-3 col-sm-3">
                        <a href="http://macy.com/" class="wed_news_block" target="_blank">
            <span class="wed_gifts_img">
               <img class="wed_image_bck" src="/images/av/av7.jpg" style="border-color: rgb(192, 155, 246);">
            </span>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- boxes end -->    </div>
            </div>
          </div>
        </div>
        <!-- container end -->
      </section>
      <!-- section end -->
    </div>
    <!-- Grunge Borders End-->
    <!--&lt;!&ndash; section &ndash;&gt;-->
    <!--<section class="wed_section_inner wed_image_bck wed_wht_txt wed_fixed  " style="background-image: url(&quot;http://wedding.verothemes.com/wp/wp-content/uploads/2016/11/news_3.jpg&quot;); background-attachment: fixed; background-position: 0% 847.6px;" data-stellar-background-ratio="0.2">-->
      <!--&lt;!&ndash; OVER &ndash;&gt;-->
      <!--<div class="wed_over" data-color="#8224e3" data-opacity="0.9" style="opacity: 0.9; background-color: rgb(130, 36, 227);"></div>-->
      <!--<div class="container text-center">-->
        <!--&lt;!&ndash; Title &ndash;&gt;-->
        <!--<h2 class="wed_section_title">Lạc trôi</h2>-->
        <!--<div class="fw-row">-->
          <!--<div class="fw-col-xs-12   wed_image_bck   wed_col">-->
            <!--<div class="  ">-->
              <!--<span class="wed_countdown is-countdown" data-year="2017" data-month="8" data-day="10"><span class="countdown-row countdown-show4"><span class="countdown-section"><span class="countdown-amount">189</span><span class="countdown-period">Days</span></span><span class="countdown-section"><span class="countdown-amount">8</span><span class="countdown-period">Hours</span></span><span class="countdown-section"><span class="countdown-amount">20</span><span class="countdown-period">Minutes</span></span><span class="countdown-section"><span class="countdown-amount">0</span><span class="countdown-period">Seconds</span></span></span></span>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--&lt;!&ndash; container end &ndash;&gt;-->
    <!--</section>-->
    <!--&lt;!&ndash; section end &ndash;&gt;-->
    <!--&lt;!&ndash; Grunge Borders &ndash;&gt;-->
    <!--<div class="wed_white_outter_border">-->
      <!--&lt;!&ndash; section &ndash;&gt;-->
      <!--<section class="wed_section_inner wed_image_bck  wed_fixed  " data-stellar-background-ratio="0.2" style="background-attachment: fixed; background-position: 0% 976.2px;">-->
        <!--<div class="container text-center">-->
          <!--&lt;!&ndash; Title &ndash;&gt;-->
          <!--<h2 class="wed_section_title"> Are you attending?</h2>-->
          <!--<div class="fw-row">-->
            <!--<div class="fw-col-xs-12 enh_push_none  wed_image_bck   wed_col">-->
              <!--<div class="  ">-->
                <!--<div class="text_block">-->
                  <!--<p>Có một khách hàng nói với tôi rằng : Con người chúng ta vĩnh viễn luôn mắc sai lầm. Bởi nếu chúng ta không mắc một sai lầm nào cả, thì đó mới là điều sai lầm lớn nhất.<br>-->
                    <!--Tôi đã mắc rất nhiều sai lầm trong cuộc đời này, những sai lầm đó,bao giờ cũng phải trả một cái giá nhất định. Tôi hiểu.<br>-->
                    <!--Tôi không oán trách, hay buồn bã,tôi học tự tha thứ cho mình, để học tha thứ cho lỗi lầm của tôi và những người xung quanh.<br>-->
                    <!--Đơn giản chỉ là để được sống mỗi ngày vui vẻ và vì chính mình hơn.<br>-->
                    <!--Bởi vì chúng ta làm sao yêu thương người khác khi không yêu thương bản thân mình.? Làm sao có suy nghĩ tốt về người khác,khi không tích cực trong chính suy nghĩ bản thân chúng ta?<br>-->
                    <!--Cuộc đời còn dài và chúng ta còn trẻ. Hãy để những năm tháng về sau, chúng ta bớt thời gian ngẫm về quãng đời này, chúng ta tự mỉm cười rằng, đã sống và được sống không ân hận quá nhiều.</p>-->
                <!--</div>-->
                <!--<a href="http://wedding.verothemes.com/wp/red-roses/#rsvp" class="btn btn_new wed_image_bck wed_go" data-color="#9b5bdb" style="background-color: rgb(155, 91, 219);">Tye</a>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
        <!--&lt;!&ndash; container end &ndash;&gt;-->
      <!--</section>-->
      <!--&lt;!&ndash; section end &ndash;&gt;-->
    <!--</div>-->
    <!---->
    <!-- Grunge Borders End-->
    <!-- section -->
    <section class="wed_section_inner wed_image_bck wed_wht_txt   ">
      <div class="container text-center">
        <!-- Title -->
        <h2 class="wed_section_title">Đi để trở về  </h2>
        <div class="fw-row">
          <div class="fw-col-xs-12   wed_image_bck   wed_col">
            <div class="  ">
              <!-- grid -->
              <div class="wed_portfolio_no_padding grid" style="position: relative">
                <!-- item -->
                <div class="col-sm-4 wed_portfolio_item grid-item">
                  <a href="/images/eating-1000x666.jpg" class="lightbox wed_portfolio_item_cont">
                    <img alt="First Met" src="/images/n/n1.jpg">
                    <span class="wed_port_titles">
                  <span class="wed_port_title">Quê ngoại Hà Thành</span>
                <span class="wed_port_icons">
                  <i class="fa fa-search"></i>
                </span>
              </span>
                  </a>
                </div>
                <!-- item -->
                <div class="col-sm-4 wed_portfolio_item grid-item">
                  <a href="http://wedding.verothemes.com/wp/wp-content/uploads/2016/11/dream-1000x666.jpg" class="lightbox wed_portfolio_item_cont">
                    <img alt="In the Park" src="/images/n/n2.jpg">
                    <span class="wed_port_titles">
                  <span class="wed_port_title">Gia đình </span>
                <span class="wed_port_icons">
                  <i class="fa fa-search"></i>
                </span>
              </span>


                  </a>
                </div>



                <!-- item -->
                <div class="col-sm-4 wed_portfolio_item grid-item">
                  <a href="http://wedding.verothemes.com/wp/wp-content/uploads/2016/11/onhim-1000x666.jpg" class="lightbox wed_portfolio_item_cont">
                    <img alt="First Met" src="/images/n/n3.png">
                    <span class="wed_port_titles">
                  <span class="wed_port_title">Ba đứa bạn tên Hằng</span>
                <span class="wed_port_icons">
                  <i class="fa fa-search"></i>
                </span>
              </span>


                  </a>
                </div>



                <!-- item -->
                <div class="col-sm-4 wed_portfolio_item grid-item" >
                  <a href="http://wedding.verothemes.com/wp/wp-content/uploads/2016/11/onkitchen-1000x666.jpg" class="lightbox wed_portfolio_item_cont">
                    <img alt="Happy Couple" src="/images/n/n4.jpg">
                    <span class="wed_port_titles">
                  <span class="wed_port_title">Nhóm bạn thực tập</span>
                <span class="wed_port_icons">
                  <i class="fa fa-search"></i>
                </span>
              </span>


                  </a>
                </div>



                <!-- item -->
                <div class="col-sm-4 wed_portfolio_item grid-item" >
                  <a href="http://wedding.verothemes.com/wp/wp-content/uploads/2016/11/inpool-1000x666.jpg" class="lightbox wed_portfolio_item_cont">
                    <img alt="Mark Holts" src="/images/n/n5.jpg">
                    <span class="wed_port_titles">
                  <span class="wed_port_title">Lớp học anh văn</span>
                <span class="wed_port_icons">
                  <i class="fa fa-search"></i>
                </span>
              </span>


                  </a>
                </div>



                <!-- item -->
                <div class="col-sm-4 wed_portfolio_item grid-item" >
                  <a href="/images/hug-1000x666.jpg" class="lightbox wed_portfolio_item_cont">
                    <img alt="Sally Craft" src="/images/n/n6.jpg">
                    <span class="wed_port_titles">
                  <span class="wed_port_title">Nhà kiến</span>
                <span class="wed_port_icons">
                  <i class="fa fa-search"></i>
                </span>
              </span>


                  </a>
                </div>

              </div>

            </div>


          </div>
        </div>


      </div>
      <!-- container end -->
    </section>
    <!-- section end -->
    <!-- Grunge Borders -->
    <!--<div class="wed_white_outter_border">-->

      <!--&lt;!&ndash; section &ndash;&gt;-->
      <!--<section class="wed_section_inner wed_image_bck  wed_fixed  wed_section_sml_padding" data-stellar-background-ratio="0.2" style="background-attachment: fixed; background-position: 0% 1310.6px;">-->



        <!--<div class="container text-center">-->

          <!--&lt;!&ndash; Title &ndash;&gt;-->
          <!--<h2 class="wed_section_title">Our best friends</h2>-->
          <!--<div class="row">-->
            <!--<script type="text/ng-template" id="tpl.html">-->
              <!--<div class="wed_icon_box wed_test_cont" style="width: 100%">-->

                <!--&lt;!&ndash; Pop-up &ndash;&gt;-->
                <!--<div class="wed_testimonials">-->
                  <!--<h4><b>Lawrence Stephens</b></h4>-->
                  <!--<p>Bridesmaid</p>-->
                  <!--<div class="wed_item_social">-->
                    <!--<a href="http://facebook.com/"><i class="fa fa-facebook"></i></a>-->
                    <!--<a href="http://twitter.com/"><i class="fa fa-tumblr"></i></a>-->
                    <!--<a href="http://instagram.com/"><i class="fa fa-instagram"></i></a>-->

                  <!--</div>-->
                <!--</div>-->

                <!--&lt;!&ndash; photo &ndash;&gt;-->
                <!--<div class="wed_icon_box_photo_testimonials">-->
                  <!--<img src="/images/friend_4-750x735.jpg" alt="Lawrence Stephens">-->
                <!--</div>-->

                <!--&lt;!&ndash; titles &ndash;&gt;-->
                <!--<h4 class="wed_test_name"><b>Lawrence Stephens</b></h4>-->
                <!--<p>Bridesmaid</p>-->
              <!--</div>-->
            <!--</script>-->

            <!--<slick class="slider"  settings="slickConfig">-->
              <!--<div ng-repeat="i in number">-->
                <!--<div class="" ng-include="'tpl.html'"></div>-->

              <!--</div>-->
            <!--</slick>-->

          <!--</div>-->
        <!--</div>-->


        <!--&lt;!&ndash; container end &ndash;&gt;-->
      <!--</section>-->
      <!--&lt;!&ndash; section end &ndash;&gt;-->

    <!--</div>-->
    <!---->
    <!-- Grunge Borders End-->
    <!-- section -->
    <!--<section class="wed_section_inner wed_image_bck wed_wht_txt wed_fixed  " data-stellar-background-ratio="0.2" style="background-attachment: fixed; background-position: 0% 1507.8px;">-->



      <!--<div class="container text-center">-->


        <!--&lt;!&ndash; Title &ndash;&gt;-->
        <!--<div class="wed_thin_titles">-->
          <!--<h2>“ The best gift is your patecipation, thanks to all ”</h2>-->
        <!--</div>-->


        <!--<div class="fw-row">-->






          <!--<div class="fw-col-xs-12 enh_push_none  wed_image_bck   wed_col">-->



            <!--<div class="  ">-->
            <!--</div>-->


          <!--</div>-->
        <!--</div>-->


      <!--</div>-->
      <!--&lt;!&ndash; container end &ndash;&gt;-->
    <!--</section>-->
    <!---->
    <!-- section end -->
    <!-- section -->
    <!--<section class="wed_section_inner wed_image_bck    ">-->



      <!--<div class="container-fluid ">-->




        <!--<div class="fw-row">-->






          <!--<div class="fw-col-xs-12   wed_image_bck   wed_col">-->



            <!--<div class="  ">-->






              <!--&lt;!&ndash; item &ndash;&gt;-->
              <!--<a href="http://wedding.verothemes.com/wp/multipage-accomodation/" class="col-md-4 wed_wht_txt wed_image_bck wed_service_block" data-image="http://wedding.verothemes.com/wp/wp-content/uploads/2016/11/slider-800x533.jpg" style="background-image: url(&quot;http://wedding.verothemes.com/wp/wp-content/uploads/2016/11/slider-800x533.jpg&quot;);">-->

                <!--&lt;!&ndash; Overlay &ndash;&gt;-->
                <!--<div class="wed_over" data-color="#000" data-opacity="0.3" data-blend="" style="opacity: 0.3; background-color: rgb(0, 0, 0);"></div>-->

                <!--&lt;!&ndash; Overlay &ndash;&gt;-->
                <!--<div class="wed_over" data-color="#8224e3" data-opacity="0.3" style="opacity: 0.3; background-color: rgb(130, 36, 227);"></div>-->


                <!--<div class="wed_simple_block text-center">-->

                  <!--<h4>CHURCH</h4>-->

                  <!--<br><p>790 3rd Street Lockport, <br>NY 14094</p>-->
                <!--</div>-->
              <!--</a>-->




              <!--&lt;!&ndash; item &ndash;&gt;-->
              <!--<a href="http://wedding.verothemes.com/wp/multipage-accomodation/" class="col-md-4 wed_wht_txt wed_image_bck wed_service_block" data-image="http://wedding.verothemes.com/wp/wp-content/uploads/2016/11/restaurant-800x532.jpg" style="background-image: url(&quot;http://wedding.verothemes.com/wp/wp-content/uploads/2016/11/restaurant-800x532.jpg&quot;);">-->

                <!--&lt;!&ndash; Overlay &ndash;&gt;-->
                <!--<div class="wed_over" data-color="#000" data-opacity="0.3" data-blend="" style="opacity: 0.3; background-color: rgb(0, 0, 0);"></div>-->

                <!--&lt;!&ndash; Overlay &ndash;&gt;-->
                <!--<div class="wed_over" data-color="#8224e3" data-opacity="0.3" style="opacity: 0.3; background-color: rgb(130, 36, 227);"></div>-->


                <!--<div class="wed_simple_block text-center">-->

                  <!--<h4>RESTAURANT</h4>-->

                  <!--<br><p>1628 Orchard Street Saint Cloud, <br>MN 56301</p>-->
                <!--</div>-->
              <!--</a>-->




              <!--&lt;!&ndash; item &ndash;&gt;-->
              <!--<a href="http://wedding.verothemes.com/wp/multipage-accomodation/" class="col-md-4 wed_wht_txt wed_image_bck wed_service_block" data-image="http://wedding.verothemes.com/wp/wp-content/uploads/2016/11/hotel-800x533.jpg" style="background-image: url(&quot;http://wedding.verothemes.com/wp/wp-content/uploads/2016/11/hotel-800x533.jpg&quot;);">-->

                <!--&lt;!&ndash; Overlay &ndash;&gt;-->
                <!--<div class="wed_over" data-color="#000" data-opacity="0.3" data-blend="" style="opacity: 0.3; background-color: rgb(0, 0, 0);"></div>-->

                <!--&lt;!&ndash; Overlay &ndash;&gt;-->
                <!--<div class="wed_over" data-color="#8224e3" data-opacity="0.3" style="opacity: 0.3; background-color: rgb(130, 36, 227);"></div>-->


                <!--<div class="wed_simple_block text-center">-->

                  <!--<h4>HOTEL</h4>-->

                  <!--<br><p>1285 7th Avenue Paducah, <br>KY 42001</p>-->
                <!--</div>-->
              <!--</a>-->



            <!--</div>-->


          <!--</div>-->
        <!--</div>-->


      <!--</div>-->
      <!--&lt;!&ndash; container end &ndash;&gt;-->
    <!--</section>-->
    <!---->
    <!-- section end -->
    <!-- section -->
    <!--<section class="wed_section_inner wed_image_bck    ">-->



      <!--<div class="container-fluid ">-->




        <!--<div class="fw-row">-->






          <!--<div class="fw-col-xs-12   wed_image_bck   wed_col">-->



            <!--<div class="  ">-->


              <!--&lt;!&ndash; over &ndash;&gt;-->
              <!--<div class="wed_map_wrapper ">-->
                <!--<div class="wed_map_over text-center wed_wht_txt">-->
                  <!--<div class="wed_map_txt wed_icon_box">-->
                    <!--<span class="wed_map_img"></span>-->
                    <!--<div class="wed_icon_box_content">-->
                      <!--<h4><b>Open Map</b></h4>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</div>-->
                <!--&lt;!&ndash; over end &ndash;&gt;-->

                <!--&lt;!&ndash; over &ndash;&gt;-->
                <!--<div class="wed_over" data-color="#8224e3" data-opacity="0.9" style="opacity: 0.9; background-color: rgb(130, 36, 227);"></div>-->

              <!--</div>    </div>-->


          <!--</div>-->
        <!--</div>-->


      <!--</div>-->
      <!--&lt;!&ndash; container end &ndash;&gt;-->
    <!--</section>-->
    <!---->
    <!-- section end -->
    <!-- Grunge Borders -->
    <!--<div class="wed_white_outter_border">-->

      <!--&lt;!&ndash; section &ndash;&gt;-->
      <!--<section class="wed_section_inner wed_image_bck  wed_fixed  " data-stellar-background-ratio="0.2" style="background-attachment: fixed; background-position: 0% 1739.6px;">-->
        <!--<div class="container text-center">-->
          <!--&lt;!&ndash; Title &ndash;&gt;-->
          <!--<h2 class="wed_section_title">Wedding Journal</h2>-->
          <!--<div class="fw-row">-->
            <!--<div class="fw-col-xs-12 enh_push_none  wed_image_bck   wed_col">-->
              <!--<div class="  ">-->
                <!--<div class="text_block">-->
                <!--</div>    </div>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="fw-row">-->
            <!--<div class="fw-col-xs-12 fw-col-sm-4   wed_image_bck   wed_col">-->
              <!--<div class="  ">-->
                <!--<a href="https://themeforest.net/user/verothemes/portfolio" class="wed_news_block text-left">-->
        <!--<span class="wed_news_img">-->
          <!--<img class="wed_image_bck" src="/images/white_slider-1000x666.jpg" alt="" data-border="#c09bf6" style="border-color: rgb(192, 155, 246);">-->
        <!--</span>-->
                  <!--<span class="wed_news_title">Planning Honeymoon Trip</span>-->
                  <!--<span class="wed_news_author">Lawrence Stephens | 10 December</span>-->
                  <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa similique porro officiis nobis nulla quidem nihil iste veniam ut sit, maiores.</p>-->
                  <!--<span class="btn wed_image_bck" data-color="#c09bf6" style="background-color: rgb(192, 155, 246);">Read More</span>-->
                <!--</a>-->
              <!--</div>-->
            <!--</div>-->






            <!--<div class="fw-col-xs-12 fw-col-sm-4   wed_image_bck   wed_col">-->



              <!--<div class="  ">-->


                <!--<a href="https://themeforest.net/user/verothemes/portfolio" class="wed_news_block text-left">-->
        <!--<span class="wed_news_img">-->
          <!--<img class="wed_image_bck" src="/images/news_2-1000x666.jpg" alt="" data-border="#c09bf6" style="border-color: rgb(192, 155, 246);">-->
        <!--</span>-->
                  <!--<span class="wed_news_title">Surprises For our Guests</span>-->
                  <!--<span class="wed_news_author">Lawrence Stephens | 10 December</span>-->
                  <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa similique porro officiis nobis nulla quidem nihil iste veniam ut sit, maiores.</p>-->


                  <!--<span class="btn wed_image_bck" data-color="#c09bf6" style="background-color: rgb(192, 155, 246);">Read More</span>-->


                <!--</a>-->



              <!--</div>-->


            <!--</div>-->






            <!--<div class="fw-col-xs-12 fw-col-sm-4   wed_image_bck   wed_col">-->



              <!--<div class="  ">-->


                <!--<a href="https://themeforest.net/user/verothemes/portfolio" class="wed_news_block text-left">-->
        <!--<span class="wed_news_img">-->
          <!--<img class="wed_image_bck" src="/images/news_3-1000x669.jpg" alt="" data-border="#c09bf6" style="border-color: rgb(192, 155, 246);">-->
        <!--</span>-->
                  <!--<span class="wed_news_title">Bachelor Party!</span>-->
                  <!--<span class="wed_news_author">Lawrence Stephens | 10 December</span>-->
                  <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa similique porro officiis nobis nulla quidem nihil iste veniam ut sit, maiores.</p>-->


                  <!--<span class="btn wed_image_bck" data-color="#c09bf6" style="background-color: rgb(192, 155, 246);">Read More</span>-->


                <!--</a>-->



              <!--</div>-->


            <!--</div>-->
          <!--</div>-->


        <!--</div>-->
        <!--&lt;!&ndash; container end &ndash;&gt;-->
      <!--</section>-->
      <!--&lt;!&ndash; section end &ndash;&gt;-->

    <!--</div>-->
    <!---->
    <!-- Grunge Borders End-->
    <div class="wed_music_content" ng-click="showMusic()">
      <div class="wed_music_container">
        <i class="ti ti-music"></i>
      </div>
    </div>
    <div class="wed_iframe">
      <iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/102137206&amp;auto_play=true&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
    </div>
  </div>














</section>
<!-- content end -->
