<!-- Slider -->
<div class="wed_slider wed_image_bck wed_fixed wed_wht_txt" style="background-image: url('/images/bg/bg1.jpg'); background-attachment: fixed;">
  <!-- over -->
  <div class="wed_over" style="opacity: 0.2; background-color: rgb(0, 0, 0);"></div>

  <div class="container">

    <div class="wed_slide_txt wed_slide_center_bottom text-center wed_wht_txt skrollable skrollable-between">

      <div class="wed_hensa_slider_names"><p>Tuổi<b>thanh</b>xuân</p><h3>BÊN NHAU</h3></div>

    </div>
    <!-- Slider Texts End -->

  </div>
  <!-- container end -->

</div>
<!-- Slider End -->
