
<!-- Footer -->
<footer class="wed_footer">
  <div class="fw-page-builder-content">


    <!-- section -->
    <section id="rsvp" class="wed_section_inner wed_image_bck wed_wht_txt wed_fixed  " style="background-image: url(&quot;http://wedding.verothemes.com/wp/wp-content/uploads/2016/11/dream.jpg&quot;); background-attachment: fixed; background-position: 0% 1940.8px;" data-stellar-background-ratio="0.2">

      <!-- OVER -->
      <div class="wed_over" data-color="#8224e3" data-opacity="0.8" style="opacity: 0.8; background-color: rgb(130, 36, 227);"></div>


      <div class="container text-center">

        <!-- Title -->
        <h2 class="wed_section_title">Be our guest!</h2>



        <div class="fw-row">






          <div class="fw-col-xs-12   wed_image_bck   wed_col">



            <div class="  ">


              <div class="text_block">
                <p>Cupiditate neque libero porro nulla.</p></div>    </div>


          </div>
        </div>

        <div class="fw-row">






          <div class="fw-col-xs-12   wed_image_bck   wed_col">



            <div class="  ">
              <div class="form-wrapper contact-form">
                <form data-fw-form-id="fw_form" class="fw_form_fw_form" method="post" action="http://wedding.verothemes.com/wp/red-roses/" data-fw-ext-forms-type="contact-forms"><input type="hidden" name="fwf" value="fw_form"><input type="hidden" id="_nonce_c0be372951921b7168d855d639fb59b9" name="_nonce_c0be372951921b7168d855d639fb59b9" value="b258579c66"><input type="hidden" name="_wp_http_referer" value="/wp/red-roses/"><input type="hidden" name="fw_ext_forms_form_type" value="contact-forms"><input type="hidden" name="fw_ext_forms_form_id" value="8d7497d6229f51a456f3b6da3a35b395"><div class="wrap-forms">
                  <div class="fw-row"></div><div class="fw-row"><div class="fw-col-xs-12 form-builder-item">
                  <div class="field-text">
                    <label for="id-1">Name			<sup>*</sup>		</label>
                    <input type="text" name="text_8315a57" placeholder="Name" value="" id="id-1" required="required">
                  </div>
                </div></div><div class="fw-row"><div class="fw-col-xs-12 form-builder-item">
                  <div class="field-text">
                    <label for="id-2">Email			<sup>*</sup>		</label>
                    <input type="text" name="email_558655f" placeholder="Email" value="" id="id-2" required="required">
                  </div>
                </div></div><div class="fw-row">	<div class="fw-col-xs-12 form-builder-item">
                  <div class="field-select select-styled">
                    <label for="id-3">#Guest				<sup>*</sup>			</label>
                    <select name="select_503f3de" id="id-3">
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                    </select>
                  </div>
                </div>
                </div><div class="fw-row"><div class="fw-col-xs-12 form-builder-item">
                  <div class="field-textarea">
                    <label for="id-4">Message					</label>
                    <textarea name="textarea_dece231" placeholder="Message" id="id-4"></textarea>
                  </div>
                </div></div><div class="fw-row"></div></div><div>
                  <input type="submit" value="Send">
                </div></form></div>    </div>


          </div>
        </div>


      </div>
      <!-- container end -->
    </section>
    <!-- section end -->

  </div>
</footer>
<!-- Footer End -->
