
<!-- Header -->
  <nav class="wed_light_nav wed_transp_nav">
    <div class="container">


      <!-- Inside Pages Logo IMG-->

      <!-- couple header -->
      <img class="wed_couple_header wed_kissing_couple animated extra" src="/images/3-45x45.png" alt="">

      <!-- couple header end -->


      <!-- couple header -->
      <img class="wed_couple_header wed_white_couple animated extra" src="images/3_white_couple-45x45.png" alt="">
      <!-- couple header end -->
      <!-- Inside Pages Logo IMG End -->


      <!-- Logo -->
      <a href="http://wedding.verothemes.com/wp/" class="wed_logo wed_logo_animation">
        <span class="char1" >N</span>
        <span class="char2" >a</span>
        <span class="char3" >b</span>
        <span class="char4" >j</span>
        <span class="char5"> </span>
        <span class="char6" >N</span>
        <span class="char7">g</span>
        <span class="char8" >u </span>
        <span class="char9" >y</span>
        <span class="char10">e</span>
        <span class="char11" >n</span>
      </a>

      <!-- Text Logo -->
      <div class="wed_logo_und">
        Chúc mừng sinh nhật</div>


      <div class="wed_top_menu_mobile_link">
        <i class="ti ti-menu"></i>
      </div>
      <!-- Top Menu -->
      <!--<div class="wed_top_menu_cont">-->
        <!--<div class="container">-->
          <!--<div class="menu-menu-1-container"><ul id="primary-menu" class="menu"><li id="menu-item-414" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home current-menu-ancestor current-menu-parent menu-item-has-children menu-item-414"><a href="http://wedding.verothemes.com/wp/">Home One Page</a>-->
            <!--<ul class="sub-menu">-->
              <!--<li id="menu-item-418" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-418"><a href="http://wedding.verothemes.com/wp/">Firefly</a></li>-->
              <!--<li id="menu-item-415" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-415"><a href="http://wedding.verothemes.com/wp/autumn-leaves/">Autumn Leaves</a></li>-->
              <!--<li id="menu-item-416" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-416"><a href="http://wedding.verothemes.com/wp/blue_butterflies/">Blue Butterflies</a></li>-->
              <!--<li id="menu-item-417" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-417"><a href="http://wedding.verothemes.com/wp/dandelions/">Dandelions</a></li>-->
              <!--<li id="menu-item-452" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-452"><a href="http://wedding.verothemes.com/wp/orange_roses/">Orange Roses</a></li>-->
              <!--<li id="menu-item-454" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-96 current_page_item menu-item-454"><a href="http://wedding.verothemes.com/wp/red-roses/">Red Roses</a></li>-->
              <!--<li id="menu-item-453" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-453"><a href="http://wedding.verothemes.com/wp/purple_butterflies/">Purple Butterflies</a></li>-->
              <!--<li id="menu-item-419" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-419"><a href="http://wedding.verothemes.com/wp/floral/">Floral</a></li>-->
              <!--<li id="menu-item-456" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-456"><a href="http://wedding.verothemes.com/wp/scrollable-yellow-roses/">Scrollable Yellow Roses</a></li>-->
              <!--<li id="menu-item-1221" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1221"><a href="http://wedding.verothemes.com/wp/scrollable-yellow-flowers/">Scrollable Yellow Flowers</a></li>-->
              <!--<li id="menu-item-455" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-455"><a href="http://wedding.verothemes.com/wp/scrollable-blue-flowers/">Scrollable Blue Flowers</a></li>-->
            <!--</ul>-->
          <!--</li>-->
            <!--<li id="menu-item-957" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-957"><a href="http://wedding.verothemes.com/wp/red-roses/#">Home Multipage</a>-->
              <!--<ul class="sub-menu">-->
                <!--<li id="menu-item-424" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-424"><a href="http://wedding.verothemes.com/wp/multipage-agency/">Agency</a></li>-->
                <!--<li id="menu-item-435" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-435"><a href="http://wedding.verothemes.com/wp/multipage-full-slider-agency/">Full Slider Agency</a></li>-->
                <!--<li id="menu-item-441" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-441"><a href="http://wedding.verothemes.com/wp/multipage-pink-roses/">Pink Roses</a></li>-->
                <!--<li id="menu-item-445" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-445"><a href="http://wedding.verothemes.com/wp/purple-hearts/">Purple Hearts</a></li>-->
                <!--<li id="menu-item-451" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-451"><a href="http://wedding.verothemes.com/wp/multipage-yellow-roses/">Yellow Roses</a></li>-->
                <!--<li id="menu-item-450" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-450"><a href="http://wedding.verothemes.com/wp/multipage-scrollable-red-flowers/">Scrollable Red Flowers</a></li>-->
                <!--<li id="menu-item-449" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-449"><a href="http://wedding.verothemes.com/wp/multipage-scrollable-blue-roses/">Scrollable Blue Roses</a></li>-->
                <!--<li id="menu-item-446" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-446"><a href="http://wedding.verothemes.com/wp/red-hearts/">Red Hearts</a></li>-->
              <!--</ul>-->
            <!--</li>-->
            <!--<li id="menu-item-1219" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1219"><a href="http://wedding.verothemes.com/wp/red-roses/#">Pages</a>-->
              <!--<ul class="sub-menu">-->
                <!--<li id="menu-item-422" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-422"><a href="http://wedding.verothemes.com/wp/multipage-about-him/">About Him</a></li>-->
                <!--<li id="menu-item-421" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-421"><a href="http://wedding.verothemes.com/wp/multipage-about-her/">About Her</a></li>-->
                <!--<li id="menu-item-423" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-423"><a href="http://wedding.verothemes.com/wp/multipage-accomodation/">Accomodation</a></li>-->
                <!--<li id="menu-item-438" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-438"><a href="http://wedding.verothemes.com/wp/multipage-location/">Location</a></li>-->
                <!--<li id="menu-item-436" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-436"><a href="http://wedding.verothemes.com/wp/multipage-gift-registry/">Gift Registry</a></li>-->
                <!--<li id="menu-item-437" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-437"><a href="http://wedding.verothemes.com/wp/multipage-groomsman/">Groomsman</a></li>-->
                <!--<li id="menu-item-434" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-434"><a href="http://wedding.verothemes.com/wp/multipage-bridesmaid/">Bridesmaid</a></li>-->
                <!--<li id="menu-item-447" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-447"><a href="http://wedding.verothemes.com/wp/multipage-reservation-first/">Reservation First</a></li>-->
                <!--<li id="menu-item-448" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-448"><a href="http://wedding.verothemes.com/wp/multipage-reservation-second/">Reservation Second</a></li>-->
                <!--<li id="menu-item-440" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-440"><a href="http://wedding.verothemes.com/wp/multipage-our-story/">Our Story</a></li>-->
                <!--<li id="menu-item-425" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-425"><a href="http://wedding.verothemes.com/wp/multipage-agency-about/">Agency About</a></li>-->
                <!--<li id="menu-item-426" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-426"><a href="http://wedding.verothemes.com/wp/multipage-agency-contact/">Agency Contact</a></li>-->
                <!--<li id="menu-item-430" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-430"><a href="http://wedding.verothemes.com/wp/multipage-agency-services/">Agency Services</a></li>-->
                <!--<li id="menu-item-431" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-431"><a href="http://wedding.verothemes.com/wp/multipage-agency-services-single/">Agency Services Single</a></li>-->
                <!--<li id="menu-item-432" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-432"><a href="http://wedding.verothemes.com/wp/multipage-agency-team/">Agency Team Single</a></li>-->
                <!--<li id="menu-item-433" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-433"><a href="http://wedding.verothemes.com/wp/multipage-agency-team-single/">Agency Team</a></li>-->
              <!--</ul>-->
            <!--</li>-->
            <!--<li id="menu-item-1220" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1220"><a href="http://wedding.verothemes.com/wp/red-roses/#">Gallery</a>-->
              <!--<ul class="sub-menu">-->
                <!--<li id="menu-item-443" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-443"><a href="http://wedding.verothemes.com/wp/multipage-portfolio-full-no-pading/">Portfolio Full No-Pading</a></li>-->
                <!--<li id="menu-item-442" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-442"><a href="http://wedding.verothemes.com/wp/multipage-portfolio-fixed-3-col/">Portfolio Fixed 2 col</a></li>-->
                <!--<li id="menu-item-444" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-444"><a href="http://wedding.verothemes.com/wp/multipage-portfolio-masonry-full/">Portfolio Masonry Full</a></li>-->
                <!--<li id="menu-item-428" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-428"><a href="http://wedding.verothemes.com/wp/multipage-agency-portfolio-full-3-col/">Agency Portfolio Full 3 col</a></li>-->
                <!--<li id="menu-item-429" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-429"><a href="http://wedding.verothemes.com/wp/multipage-agency-portfolio-full-no-padding/">Agency Portfolio Full No-Padding</a></li>-->
                <!--<li id="menu-item-427" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-427"><a href="http://wedding.verothemes.com/wp/multipage-agency-portfolio-fixed-3col/">Agency Portfolio Fixed 3col</a></li>-->
              <!--</ul>-->
            <!--</li>-->
          <!--</ul></div>          </div>-->
      <!--</div>-->
      <!-- Top Menu End -->
    </div>
    <!-- container end -->
  </nav>
<!-- Header End -->
