<!doctype html>
<html ng-app="loopbackApp" ng-controller="LayoutCtrl">
<head>
  <meta charset="utf-8">
  <title>Happy Birthday to Nabj Nguyen</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <meta content='http://i.picresize.com/images/2017/02/05/CEmcg.jpg' property='og:image' />
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

  <!-- build:css styles/vendor.css -->
  <!-- bower:css -->
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css styles/main.css -->
  <!-- include: "type": "css", "files": "css/*.css" -->
  <!-- include: "type": "css", "files": "modules/**/*.css" -->
  <!-- endbuild -->
  <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
  <link href="/images/bg/background.jpg" rel="shortcut icon" type="image/x-icon" />
  <base href="/">
</head>
<body class="{{getSetting('appTheme') }} {{ getSetting('appLayout') }} " ng-controller="MainCtrl">
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<div ui-view ng-class="{'full-height': currentUser.id === undefined}"></div>

<div ng-controller="toasty-controller">
  <toasty-container toasty-defaults='{"timeout": 3000, "close-button":true, "sound": false}'></toasty-container>
</div>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->

<!-- build:js scripts/oldieshim.js -->
<!--[if lt IE 9]>
<script src="bower_components/es5-shim/es5-shim.js"></script>
<script src="bower_components/json3/lib/json3.js"></script>
<![endif]-->
<!-- endbuild -->
<!-- build:js scripts/vendor.js -->
<!-- bower:js -->
<!-- endbower -->
<!-- endbuild -->
<!-- build:js scripts/scripts.js -->
<!-- JS -->
<!-- include: "type": "js", "files": "js/*.js" -->
<!-- MODULES -->
<!-- include: "type": "js", "files": "modules/**/*.js" -->
<!-- endbuild -->
<!--<script type="text/javascript"  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCpKnuINcZn6hVFfvNYWrb1YH6BImqC5-4&libraries=places"></script>-->



</body>
</html>
